api-endpoint: api.10.65.192.249.xip.io
cf-username: admin
cf-password: admin
cf-org: demo
cf-space-dev: development
cf-space-uat: uat
cf-space-prod: production
cf-space-test: test
host-dev: sample-spring-cloud-svc-dev
host-uat: sample-spring-cloud-svc-uat
host-prod: sample-spring-cloud-svc
host-test: sample-spring-cloud-svc-test
